.container{
    background-color: #4a3535;
    height: 61px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.text{
    color: azure;
    font-size: 18px;
    font-weight: lighter;
    font-style: italic;
    margin-top: 12px;
}